@media only screen and (max-width: 1500px) {  
    .odd-table tbody tr td div.team-name p a {
        color: #0a2d4b;
        font-weight: 500;
        white-space: nowrap;
        max-width: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    .full-match-data .bg-section .profile-tabs .mkt-odds .collapse {
        overflow-x: auto;
    }

    .full-chosen-market {
        display: none;
    }
    .full-live-right{
        width: 100%;
    }

    .bet-parent, .left-side-parent {
        min-width: 250px;
        max-width: 250px;
    }

    .middle-parent {
        width: calc(100% - 500px);
        display: block;
        overflow-x: hidden;
    }

    .odd-table tbody tr td {
        font-size: 12px;
    }

    .odd-table ul li a {
        font-size: 12px;
    }

    .odds-section .nav-pills a img {
        height: 20px;
        margin-right: 7px;
    }

    .odds-section .title-odds {
        font-size: 18px;
    }

    #accordian h3 a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1350px) {  
    .odd-table tbody tr td div.team-name p a{
        max-width: 65px;
    }
}

@media only screen and (max-width: 1199px) {  
    .left-side-parent {
        display: none;
    }
    .left-side-parent.account-parent {
      display: block;
    }
    .deposit-btn p, .deposit-btn a {
        font-size: 12px;
        text-align: center;
    }

    .deposit-btn p {
        line-height: 15px;
    }

    .sport-sorting  {
        display: block;
        /*overflow: hidden;*/
    }

    .sport-sorting ul {
            overflow: hidden;
        overflow-x: auto;
    }

    .middle-parent {
        width: calc(100% - 250px);
        display: block;
    }
    .bet-summary {
        display: none;
    }
    .full-chosen-market {
        display: block;
    }
    .full-live-right {
        width: calc(100% - 371px);
    }
}
@media (max-width: 1024px) {
  .profile-form {
      width: 100%;
      padding: 15px;
    }
    .account-tabs .nav-link {
      font-size: 15px;
    }
    .min-widths {
      min-width: auto;
    }
    .score-block {
      margin-bottom: 10px;
    }
}
@media only screen and (max-width: 991px) {  
    .navbar-toggler {
        display: block;
    }

    .deposit-btn a:hover {
        background-color: #0c2f4b;
    }

    .bottom-header .messages {
        top: 50px;
    }

    .bottom-header .navbar-collapse {    
        width: 250px;
        position: fixed;
        right: -250px;
        background: #2c2a2a;
        display: block;
        z-index: 9999;
        height: 100%;
        top: 0px;
        transition: right .5s;
    }

    .bottom-header ul {
        padding: 0px;
    }

    .bottom-header li a {
        width: 100%;
        text-align: center;
        height: auto;
        border-bottom: 1px solid #a68037;
    }
    .bottom-header li.active a {
        color: #0c2f4b;
        font-weight: 500;
        background: #1D1D1D;
    }

    .bottom-header li.open a {
        border-bottom: 5px solid #007be4;
        color: #0c2f4b;
        font-weight: 500;
        background: #fff;
    }

    .bottom-header li a:hover {
        color: #0c2f4b;
        font-weight: 500;
        background: -moz-linear-gradient(89.71deg, #F0D353 -2.26%, #90682F 97.25%);
        background: -webkit-linear-gradient(89.71deg, #F0D353 -2.26%, #90682F 97.25%);
        background: linear-gradient(89.71deg, #F0D353 -2.26%, #90682F 97.25%);
    }

    .bottom-header ul:before {
        content: "";
        display: none;
    }

    .close-menu {
        position: absolute;
        left: -41px;
        background: #2c2a2a;
        padding: 5px 15px;
        color: #fff;
        box-shadow: 2px -1px 9px 0px #000;
        display: none;
    }

    .menu-modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        /*z-index: 1040;*/
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: .5;
    }

    .bottom-header {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        /*height: 50px;*/
    }

    .auth-button {
        margin-right: 75px;
    }

    .navbar-toggler {
        padding: 0px 7px;
        font-size: 1.25rem;
        line-height: 29px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        font-size: 16px;
        position: absolute;
        left: -20px;
        top: -15px;
    }

    .middle-parent {
        width: 100%;
        display: block;
    }

    .b-tab {
      display: none;
    }

    .b-tab.active {
      display: block;
    }

    .bet-parent {
        min-width: 100%;
        max-width: 100%;
    } 

    .bet-parent.account-bottom, .left-side-parent.account-parent {
        min-width: 200px;
        max-width: 200px;
    }

    #betslip-responisve .close {
        position: absolute;
        top: 8px;
        right: 10px;
        background: #000;
        opacity: 1;
        color: #fff;
        padding: 1px 6px;
        z-index: 9;
        border-radius: 50%;
        font-size: 20px;
    }

    #betslip-responisve .close span {
      color: #fff;
      position: relative;
      top: -3px;
    }

    .bet-slip-count {
        display: table;
    }
}

@media only screen and (max-width: 767px) {
    .middle-content {
        min-height: 760px;
    }

    .slider-div{
        padding: 20px 40px;
        margin: 10px 0; 
    }
    .banner .carousel-control-prev,
    .banner .carousel-control-next {
        top: 70%;
    }

    .navbar-toggler {
        padding: 0px 7px;
        font-size: 1.25rem;
        line-height: 29px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        font-size: 16px;
        position: absolute;
        left: 0px;
        top: 20px;
    }
    .time-dropdown .dropdown-menu.show {
        min-width: 310px;
        max-width: 310px;
        right: -100px !important;
    }

    .mkt.odds-section .nav-pills .nav-link {
        white-space: nowrap;
        display: flex;
    }

    #back-top {
        font-size: 30px;
        padding-top: 3px;
        height: 40px;
        width: 40px;
    }
    .odd-table thead th {
        font-size: 12px;
        vertical-align: middle;
    }

    .mkt-odd-cover li a {
        border-right: none;
        border-bottom: 2px solid #d8dde8;
        font-size: 12px;
    }

    .green-value a, .red-value a {
        font-size: 10px !important;
        border-bottom: 0 !important;
    }

    .live-market .mkt-odds table tr td {
        padding: 0.4rem
    }

    ul.two-way-data li a {
        border-right: 2px solid #d8dde8;
        border-bottom: none;
    }

    .mkt-summary li {
        width: 100%;
    }

    .odd-table thead th.country-name img {
    width: 24px;
    height: 24px;
    margin: 3px 5px;
    }

    .odds-section .nav-pills .nav-link {
        font-size: 10px;
    }
    
    .middle-content {
        flex: 1;
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    .odds-section .nav-pills li {
        float: left;
    }

    .odds-section .nav-pills {
        background: #2b2a2a;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    header .logo {
        width: 150px;
        margin: 0px auto;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    header {
        background: #0c2f4b;
        display: table;
        width: 100%;
        height: auto;
    }
    .top-header {
        display: flex;
        height: auto;
        align-items: center;
        padding: 15px 25px;
    }

    #betslip-responisve .modal-content {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 0px;
        border-radius: 0px;
        outline: 0;
        height: 100vh;
    }

    #betslip-responisve .modal-dialog {
        margin: 0px;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 576px) { 
    .odd-table tbody tr td div.team-name p a {
        font-size: 11px;
    }

    .odd-table thead th.odds-score div {
        border-right: 0px;
    }

    .odd-table tbody td.odd-rate div {
        border-right: 0px;
    }

    footer p {
      text-align: center;
    }

    body footer li a {
      font-size: 12px;
    }

    .odds-score {
      width: 200px;
      display: inline-block;
    }

    .odd-table {
        border-spacing: 0px 5px;
        border-collapse: separate;
    }

    .team-name .time {
        display: table;
        margin-right: 0px;
        color: #0c2f4b;
        border-right: 2px solid #b3cde9;
        padding: 0px 5px;
        line-height: 12px;
    }

    .odd-table .rating>label {
        margin: 0px 3px;
    }

    header .logo {
        width: 100%;
        margin: 15px auto 15px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .bg .tab-content {
      margin-top: 10px;
    }


    .top-h-links {
        margin-left: 10px;
    }
    .top-header {
        display: flex;
        height: auto;
        align-items: center;
        padding: 0px 10px 0px;
        justify-content: center;
    }

    .time-dropdown button {
        color: #fff;
        padding: 0px 2px;
        font-size: 14px;
    }

    .lang-drop p {
        font-size: 14px;
    }

    .setting-i {
        display: table;
        margin-right: 5px;
    }

    .odd-table ul li a {
        color: #0a2d4b;
        font-size: 14px;
        width: auto;
        display: table;
        margin: 0px 8px;
        border-radius: 5px;
        line-height: 24px;
        padding: 0px 5px;
    }

    .odd-table ul li a:hover {
        background: #007be4;
        color: #fff;
        width: auto;
        display: table;
        margin: 0px auto;
        border-radius: 5px;
    }

    .auth-button {
        margin-right: 0;
        margin: 0px auto;
    }

    .deposit-btn {
        margin-right: 45px;
    }

    .top-h-icon a {
        display: table;
        float: left;
        padding: 0px 5px !important;
    }

    .top-h-icon a img {
        height: 20px;
    }

    .setting-i img {
        width: 20px;
    }

    .navbar-toggler-icon {
        background-image: url(../images/menu.png);
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 600px){
    .bottom-header .messages {
        width: 100%;
    }
    .mkt-summary table {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .odd-table {
        border-spacing: 0px 5px;
        border-collapse: separate;
        width: 450px;
    }
    .deposit-btn p {
        font-size: 10px;
        text-align: center;
        line-height: 15px;
    }

    .deposit-btn a {
        font-size: 10px;
        margin-left: 4px;
    }

    .register-modal .nav-pills .nav-link {
        font-size: 12px;
        padding: 5px;
    }

    .register-modal .nav-pills .nav-link img {
        width: 20px;
        margin-right: 5px;
    }

    .register-modal .nav-pills .nav-item:nth-child(2) .nav-link img {
        width: 10px;
    }

    .register-modal  .modal-header .close {
        padding: 4px;
    }
}

@media only screen and (max-width: 420px) {
    .odd-table {
        border-spacing: 0px 5px;
        border-collapse: separate;
        /*width: 360px;*/
    }

    .login-auth-m {
        width: 100%;
    }
    .login-auth-m .card {
        padding: 10px;
    }
    .login-auth-m .card .input-group input {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
  .player-img {
    display: none;
  }
  .mkt-odd-cover li {
    width: 30% !important;
    margin-right: 0 !important;
  }
  .live-right, .live-market {
    width: 100%;
  }
  .live-market {
    margin-bottom: 20px;
  }
  .mkt-head svg.live-svg {
    top: 15px;
    right: 10px;
  }
  .logo img {
    width: 170px;
  }
  .head-text {
    padding: 20px;
  }
  .head-text .save-btn a{
    margin: 0 auto;
  }
  .account-tabs .nav-link {
    font-size: 18px;
  }
  .result-table thead tr th {
    padding: .5rem 0 .5rem .75rem;
  }
  .profile-tabs .nav-tabs {
    padding-left: 0;
  }
  .profile-tabs .nav-link {
    font-size: 16px;
    padding: .5rem .4rem;
  }
  .mkt-odd-cover li:last-child {
    margin-right: 10px;
  }
  .mkt-odd-cover li:last-child a {
    border-bottom: 2px solid #d8dde8;
  }
  .sports-section .mkt-head svg {
    right: 10px;
    top: 8px;
  } 
  .mkt-head svg {
    right: 4px;
    top: 17px;
  }
  .auth-btns.justify-content-end {
    justify-content: center !important;
    margin-bottom: 10px;
  }
  .bet-dates .pl-0 {
    padding-left: 15px !important;
  }
  table.history-table td b {
    font-size: 14px;
  }
  .mkt-odds p {
    font-size: 12px;
  }
  .mkt-head h2 {
    font-size: 14px;
  }
  .min-widths {
    min-width: auto;
  }
  .score-block {
    margin-bottom: 10px;
  }

  body footer li {
    margin: 0 2px;
  }

  .auth-image {
    display: none;
  }

  .auth-form {
    padding: 3rem 15px !important;
  }
  .profile-form {
    width: 100%;
    padding: 15px;
    min-height: auto; 
  }

  .middle-content.account-content {
    display: inline-block !important;
  }
  .left-side-parent.account-parent {
    display: block;
    min-width: 100%;
    max-width: 100%;
  }
  .account-tabs .nav-link {
    width: auto;
  } 
  .bet-parent.account-bottom {
    min-width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .bet-parent ul.top-bet-tab li a, .slip p.t-name span {
    font-size: 12px;
  }
}

@media (min-width: 1250px) {
  .history-tabs ul.nav-pills {
    width: 80%;
  }
}

@media (min-width: 1130px) {
  .min-widths {
    min-width: 300px;
  }
}

#betslip-responisve .modal-content {
    background-color: #1D1D1D;
}